<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>X-Cart 5.3 Flexy to Twig transition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">

    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>

    <script src="bundle.js"></script>
</head>
<body>
<section class="page-header">
    <h1 class="project-name">X-Cart 5.3 Flexy to Twig transition</h1>
    <h2 class="project-tagline">Flexy to Twig template conversion guidelines and tools</h2>
    <a href="https://www.npmjs.com/package/flexy-to-twig" target="_blank" class="btn">Install converter</a>
    <a href="#online-converter" class="btn">Online converter</a>
    <a href="#key-differences" class="btn">Flexy and Twig key differences</a>
</section>

<section class="main-content">

    <h2>
        <a id="overview" class="anchor" href="#overview" aria-hidden="true"></a>
        Overview
    </h2>

    <p>
        X-Cart 5.3 will use <a target="_blank" href="http://twig.sensiolabs.org/">Twig</a> templates
        instead of the dated <a target="_blank" href="http://kb.x-cart.com/display/XDD/Flexy+Guide">Flexy</a> templates.
        Twig is a modern, secure and extremely flexible templating engine. To read more about using the Twig, visit the <a target="_blank"
            href="http://twig.sensiolabs.org/doc/templates.html">official documentation</a>.
    </p>

    <p>
        To make the transition smooth for our developer community, we provide a tooling to automate this process. In order to convert your custom .tpl files to .twig install the <a target="_blank" href="https://www.npmjs.com/package/flexy-to-twig">flexy-to-twig</a> npm package and run <code>flexy-to-twig template.tpl > template.twig</code>. More detailed instructions are provided at the flexy-to-twig npm package <a target="_blank" href="https://www.npmjs.com/package/flexy-to-twig">page</a>.
    </p>

    <p>
        Alternatively, you can use our online converter if you have just a couple of templates or just want to play around with it.
    </p>

    <p>
        Read more about the key differences between the Flexy and Twig template engines in the <a href="#key-differences">relevant section</a>.
    </p>

    <h2>
        <a id="online-converter" class="anchor" href="#online-converter" aria-hidden="true"></a>
        Online converter
    </h2>

    <h4>Paste your Flexy code below</h4>

    <div id="source" class="editor">&#x3C;p&#x3E;{t(#Product#)}&#x3C;/p&#x3E;

&#x3C;widget class=&#x22;XLite\View\Widget&#x22; param1=&#x22;value1&#x22; param2=&#x22;value2&#x22; /&#x3E;

&#x3C;widget template=&#x22;other.tpl&#x22; /&#x3E;

&#x3C;list name=&#x22;product.details&#x22; param1=&#x22;value1&#x22; param2=&#x22;value2&#x22; /&#x3E;

&#x3C;a IF=&#x22;!item.isDeleted()&#x26;item.isActive()&#x22; href=&#x22;{item.getURL()}&#x22;&#x3E;{item.name:h}&#x3C;/a&#x3E;

{foreach:getGlobalGroups(),group}
    &#x3C;widget class=&#x22;XLite\Module\XC\ProductFilter\View\Filter\AttributeList&#x22; group=&#x22;{group}&#x22; /&#x3E;
{end:}

&#x3C;widget class=&#x22;XLite\View\Form\Import&#x22; name=&#x22;importform&#x22; /&#x3E; &#x2026; &#x3C;widget name=&#x22;importform&#x22; end /&#x3E;</div>

    <div class="button-center-block">
        <button class="btn btn--inverse" id="convert">Convert Flexy to Twig</button>
    </div>

    <h4>Twig code</h4>

    <div id="destination" class="editor">
    </div>

    <h2>
        <a id="key-differences" class="anchor" href="#key-differences" aria-hidden="true"></a>
        Flexy and Twig key differences
    </h2>

    <p>
        Apart from the obvious syntactical changes (refer to <a target="_blank"
                                                       href="http://twig.sensiolabs.org/doc/templates.html">Twig documentation</a>) there is a list of key differences that the template designer should know:
    </p>


    <ol>
        <li>
            Template file extension is changed from <code>.tpl</code> to <code>.twig</code>. This also affects View classes that define template file names.
        </li>

        <li>
            The View object that is rendering the template is available via a special <code>this</code> variable. It means that Flexy's <code>{getProductUrl()}</code> corresponds to Twig's <code class="twig">{{ this.getProductUrl() }}</code>. In Twig there is a difference between the local variables (<code>{{ product }}</code>) and the properties/methods of the bound View object (<code>{{ this.product }}</code>).
        </li>

        <li>
            Flexy's <code>&ltwidget class="XLite\View\Widget" param1="value1" param2="value2" /&gt;</code> construct maps to <code class="twig">{{ widget('XLite\\View\\Widget', param1='value1', param2='value2') }}</code> Twig function call. Note the doubled backslashes in class names, these are required in Twig.
        </li>

        <li>
            <code>&lt;widget template="other.tpl" /&gt;</code> converts to a simple template inclusion: <code>{% include 'other.tpl' %}</code>. All local variables (for example, those that were introduces by a <code>{% for %}</code> loop) will be available in the included template as a local <code>{{ variable }}</code>. Note that this is different from accessing the View object property: <code>{{ this.variable }}</code>.
        </li>

        <li>
            Flexy's <code>&lt;list name="product.details" param1="value1" param2="value2" /&gt;</code> converts to <code>{{ widget_list('product.details', param1='value1', param2='value2') }}</code> Twig function call.
        </li>

        <li>
            <code>&lt;widget class="XLite\View\Form\Import" name="importform" /&gt;
            …
            &lt;widget name="importform" end /&gt;
            </code>
            in Twig is expressed as
            <code>
            {% form 'XLite\\View\\Form\\Import' %}
            …
            {% endform %}
            </code>.
            The advantage is that Twig checks at template compile time that opening and closing tags are correctly balanced.
        </li>

        <li>
            Twig function <code>{{ t('Product name') }}</code> translates strings just as Flexy's <code>{t(#Product name#)}</code>.
        </li>

        <li>
            Twig function <code>{{ url(...) }}</code> provides a shortcut to <code class="php">AView::buildURL</code>.
        </li>
    </ol>

    <p class="small-note-block">
        * If some of the widget parameters contain dashes (or other non-alphanumeric and non-underscore characters), Twig will not compile widget function call with such arguments and will throw an error: <code class="small-note-block__code">{{ widget('XLite\\View\\Widget', weird-param-name='value1', other-param='value2') }}</code>. In order to work around this syntax limitation, you can use an alternate widget call syntax: <code class="small-note-block__code">{{ widget('XLite\\View\\Widget', {'weird-param-name': 'value1', 'other-param': 'value2'}) }}</code>. However we strongly advise you to use only camel-cased parameter names as this is the recommended naming convention: <code class="small-note-block__code">{{ widget('XLite\\View\\Widget', weirdParamName='value1', otherParam='value2') }}</code>
        <br>
        The above also applies to <code class="small-note-block__code">widget_list</code> function parameters.
    </p>

    <h2>
        Questions?
    </h2>

    <p>Feel free to ask any questions at our <a target="_blank" href="https://forum.x-cart.com/">community forum</a>.</p>

    <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/xcart/flexy-to-twig">Flexy-to-twig</a> is maintained by <a
                href="https://github.com/xcart">X-Cart</a>.</span>

        <span class="site-footer-credits">This page uses the <a
                href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a
                href="https://twitter.com/jasonlong">Jason Long</a>.</span>
    </footer>

</section>


</body>
</html>
